@import url("https://unpkg.com/open-props/open-props.min.css");
@import url("https://unpkg.com/open-props/normalize.min.css");

:root {
  --brand: #6c24e0;
  --dark: #121212;
  --light: #dcdcdc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

ul {
  --width: 100vw;
  width: var(--width);
  height: 100vh;
  list-style-type: none;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  scroll-snap-type: x mandatory;
  margin: 0;
  padding: 0 calc((var(--width, 75vw) * 0.5) - (var(--card-size, 300px) * 0.5));
  scroll-timeline: --rad;
  scroll-timeline-axis: inline;
}

li {
  view-timeline: var(--item) inline;
  scroll-snap-align: center;
  margin: 0;
}

article {
  width: var(--card-size, 300px);
  aspect-ratio: 3 / 4;
  background-color: var(--surface-4);
  border-radius: var(--radius-3);
  position: relative;
  overflow: hidden;
  scale: 0.8;
  animation-timeline: --item;
  animation: scalify both ease-in-out;
  animation-delay: cover 40%;
  animation-end-delay: 60%;
}

@keyframes scalify {
  50% {
    scale: 1;
    background-position: 100% 100%;
  }
}

.backdrop {
  position: absolute;
  inset: 0;
  filter: grayscale();
  background-image: var(--bg);
  background-position: 0% 50%;
  animation-timeline: --item;
  animation: colorify both ease-in-out, shift-bg both linear;
  animation-delay: cover 40%, contain 0%;
  animation-end-delay: cover 60%, contain 100%;
}

@keyframes colorify {
  50% {
    filter: grayscale(0);
  }
}

@keyframes shift-bg {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.word {
  clip-path: inset(0 0 0 0);
}

span > span {
  display: inline-block;
  translate: 0 100%;
  animation-timeline: --item;
  animation: move-on-up both ease-in-out;
  animation-delay: cover 40%;
  animation-end-delay: cover 60%;
}

@keyframes move-on-up {
  0% {
    translate: 0 100%;
  }
  50% {
    translate: 0 0;
  }
  100% {
    translate: 0 -100%;
  }
}

a > span {
  display: grid;
  place-items: center;
  background-color: hsla(0, 0%, 0%, 0.4);
  inset: 0;
}

span {
  color: var(--gray-0);
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
