:root {
  --dark: #121212;
  --light: #dcdcdc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  margin: 0;
  overflow: hidden;
}

.image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  top: 25%;
  left: 50%;
  user-select: none;
}

.image {
  width: 40vmin;
  height: 50vmin;
  object-fit: contain;
  object-position: 100% center;
}
