@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap");

@property --hue {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --rotate {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-x {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-translate-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-size {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-opacity {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-blur {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-scale {
  syntax: "<number>";
  inherits: true;
  initial-value: 2;
}

@property --glow-radius {
  syntax: "<number>";
  inherits: true;
  initial-value: 2;
}

@property --white-shadow {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

:root {
  --debug: 0;
  --supported: 0;
  --not-supported: 0;

  --card-color: hsl(260deg 100% 3%);
  --text-color: hsl(260deg 10% 55%);
  --card-radius: 3.14vw;
  --card-width: 35vw;
  --border-widtH: 4px;
  --bg-size: 1;

  --hue: 0;
  --hue-speed: 1;

  --rotate: 0;
  --animattion-speed: 4s;
  --glow-scale: 1.5;
  --scale-factor: 1;
  --glow-blur: 6;
  --glow-opacity: 1;
  --glow-radius: 100;
  --glow-rotate-unit: 1deg;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  outline: calc(var(--debug) * 1px) red dashed;
}

body {
  background-color: var(--card-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Syne", sans-serif;
}

body::before,
body::after {
  content: "CSS.registerProperty is supported ✅";
  position: absolute;
  display: block;
  top: 8px;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 160px);
  max-width: 380px;
  height: auto;
  padding: 8px;
  border-radius: 8px;
  background: hsl(114deg 51% 48%);
  color: white;
  text-align: center;
  font-family: sans-serif;
  z-index: var(--supported, 0);
  opacity: var(--supported, 0);
}

body::after {
  content: "CSS.registerProperty is NOT supported ❌";
  background: hsl(0deg 51% 48%);
  z-index: var(--not-supported, 0);
  opacity: var(--not-supported, 0);
}
body::before,
body::after {
  display: none !important;
}

body > div {
  position: relative;
  width: var(--card--width);
  width: min(480px, var(--card-width));
  color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: var(--card-radius);
  aspect-ratio: 1.5;
  z-index: 2;
}
