:root {
  --bg: hsl(0, 0%, 8%);
  --card-color: hsl(0, 0%, 9%);
  --text-color: hsl(0, 0%, 64%);
  --icon-color: hsl(0, 0%, 32%);
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5rem 0;
}
