:root {
  --dark: hsl(0, 0%, 7%);
  --light: hsl(0, 0%, 86%);
}
body {
  background-color: var(--dark);
  color: var(--light);
  height: 100vh;
  margin: 0;
}

body:hover > .trailing-mouse {
  opacity: 1;
}
.trailing-mouse {
  position: fixed;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: var(--light);
  border-radius: 16px;
  opacity: 0;
  transition: opacity 200ms ease;
  pointer-events: none;
  z-index: 10000;
}
